#home-container {
  height: 100svh;
  position: relative;

  .home-content {
    display: grid;
    grid-template-columns: 45% auto;
  }
}

#footer {
  position: relative;
  bottom: 0;
  width: 50vw;
  height: 80px;
  overflow: hidden;
  background-color: transparent;
  /* background-color: aqua; */

  img {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 40%;
    transform: translate(0px, 50px);
  }
}

.th-name {
  text-align: left;
}

.input-grp-btn {
  margin-left: auto;

  button {
    width: 280px;
    background-color: var(--sorsu_red);
  }
}

.modal {
  background-color: white;
  box-shadow: 0 0 8px 4px rgb(197, 194, 194);
  width: 40%;
  height: fit-content;
  padding: 4rem 2rem;
  margin: auto;
  border: none;
  border-radius: 6px;

  .modal-icon {
    font-size: 6.5rem;
    text-align: center;
    margin-top: -10px;
  }

  .modal-message {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
  }
}

.expanded-hide-btn {
  padding: 5px 20px;
  border: none;
  border-radius: 3px;
  background-color: rgb(212, 212, 212);
  margin-bottom: 0.85rem;

  cursor: pointer;
  transition: 200ms;

  &:hover {
    transform: scale(1.03);
    background-color: rgb(186, 184, 184);
  }
}

.hero-container {
  /* padding-top: 1rem; */
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hero-img-container {
    width: 55%;
    aspect-ratio: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .timeout-table {
    width: 70%;
    margin-top: 20px;
    margin-inline: auto;
    transition: 200ms;

    table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid transparent;
    }

    th,
    tbody tr:last-child {
      border-bottom: 1px solid gray;
    }

    th:nth-child(1),
    td:nth-child(1) {
      width: 70%;
      padding-left: 10px;
    }

    tr {
      border-radius: 6px;

      &:nth-child(even) {
        background-color: rgb(243, 242, 242);
      }
    }

    tr:hover {
      background-color: rgb(235, 235, 235);
      font-weight: 600;

      th {
        background-color: transparent;
      }
    }

    td {
      padding-block: 10px;
      transition: 100ms;
    }

    td:hover {
      cursor: pointer;
    }

    td:last-child {
      display: flex;
      justify-content: center;
      margin-inline: auto;
    }

    td button {
      border: none;
      background-color: var(--sorsu_gray);
      padding: 10px 20px;
      border-radius: 3px;
      color: white;
      font-weight: 600;
      cursor: pointer;
      transition: 200ms;
    }

    td button:hover {
      transform: scale(1.03);
      background-color: var(--sorsu_red);
    }
  }
}

.new-visitor-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem 0 0;

  .visitor-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem 3rem;
  }

  .view-time-out-table-btn {
    /* width: 100%; */
    padding: 0.85rem;
    background-color: var(--sorsu_gray);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 300ms ease-in;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 8px 3px rgb(226, 225, 225);
    }
  }

  .date-time {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--sorsu_gray);
    text-align: end;
  }

  .welcome-header {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: left;

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    /* Keep text on a single line */
    /* border-right: 0.15em solid var(--sorsu_red);
    animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end; */
  }

  .welcome-header-2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: left;

    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    /* Keep text on a single line */
    /* border-right: 0.15em solid var(--sorsu_red);
    animation: typing 3.5s steps(30, end) forwards,
      blink-caret 0.75s step-end infinite;
    animation-delay: 3s; */
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    label {
      font-weight: 600;
    }

    input,
    select {
      padding: 10px;
      border-radius: 4px;
      border: 1px solid var(--sorsu_gray);
      font-size: 1.125em;
    }

    button {
      width: 200px;
      margin-left: auto;
      background-color: var(--sorsu_red);
      color: white;
      padding: 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1.125em;
      font-weight: 600;
      transition: 250ms;

      &:hover {
        box-shadow: 0 0 6px #510101;
        transform: scale(1.02);
      }
    }

    .input-grp {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.25rem;

      input {
        width: 100%;
        margin-top: 3px;
        border-radius: 3px;
        font-size: 1.125rem;
      }
    }
  }
}

/* The typing animation itself */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The blinking cursor animation */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: var(--sorsu_red);
  }
}